@model AuctionPortal.PresentationLayer.Models.Admin.AccountListModel

@{
    ViewBag.Title = "Accounts";
}

<h2>Accounts</h2>

@foreach (var account in Model.Accounts)
{
	<div>
		<div class="list-group-item">
			<h4><strong>@account.FirstName @account.LastName</strong>    @account.Email</h4>
			<br/>
		</div>
	</div>
}