@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
	<strong>Martin Hořelka :</strong>   <a href="mailto:469003@mail.muni.cz">469003@mail.muni.cz</a><br />
	<strong>Jan Pavlíček :</strong> <a href="mailto:469355@mail.muni.cz">469355@mail.muni.cz</a>
</address>