@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to PV179 Auction portal</h1>
    @if (User.IsInRole("Administrator"))
    {
        <p class="lead">You can manage auctions and see info about users</p>
    }
    else
    {
        <p class="lead">Check out our auctions</p>
    }
</div>